# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Logs
logs
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Git folder
.github/*

# Database
*.sqlite
*.sqlite3
*.db
src/database/database.sqlite